.courses{
    margin: 2rem 5rem;
    font-size: larger;
}

.topic-title h1{
    margin: 0rem;
}

.topic-title p{
    font-size:medium;
    margin: 0.5rem 0rem;
}

.topic-card{
    margin: 3rem 0rem;
    border: 1px solid lightgray;
    padding: 1rem 2.5rem;
    display: flex;
    height: auto;
    flex-direction: column;
}

.topic-card-text{
    font-size: 1rem;
    width: 65vw;
    margin: 0rem 0.5rem;
}

.topic-button{
    margin: 0rem 0.5rem;
    padding: 0rem;
    width: 8rem;
    height: 2rem;
    color: black;
    background: none;
    border: 1px solid black;
}

.topic-courses{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 1rem 0rem;
}

.course-card{
    height: auto;
    width: 14rem;
    margin: 1rem 0rem;

}

.course-img{
    border: .1px solid lightgray;
    width: 100%;
    background-size: cover;
}

.course-title{
    font-size: large;
    font-weight: bolder;
    margin: 0.5rem 0rem;
}

.course-author{
    font-size: x-small;
    margin: 0rem;
}

.course-rating{
    margin: 0.3rem 0rem;
    display: flex;
    align-items: center;
    color: rgb(155, 132, 0);
}

.rating-stars{
    display: inline-block;
    width: 6rem;
    margin: 0rem 0.3rem;
}

.course-price{
    margin: 0rem;
}
